@import url('https://fonts.googleapis.com/css?family=Noto+Sans');


/* Подключение библиотеки иконок IcoMoon-Free */
@font-face {
    font-family: 'IcoMoon-Free';
    src: url('../fonts/IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'IcoMoon-Free' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
	font-size: 24px;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

  
.icon--select:before {
    content: "\e997";
}  

.icon--upload:before {
    content: "\e9c8";
} 

.icon--download:before {
    content: "\e9c7";
} 

.mirrorY { transform: scale(1, -1); }

@font-face {
    font-family: MyMomospace; /* Гарнитура шрифта */
    /*src: url(fonts/pompadur.eot); /* Для IE5-8 */
    src: local(InconsolataCyr), url(../fonts/InconsolataCyr.ttf); /* Для остальных браузеров */
}

body {
	font-family: "Noto Sans", sans-serif;
	font-size: 10pt;
}

input {
	font-family: "Noto Sans", sans-serif;
	font-size: 10pt;
    padding: 0px; /* Скинем поля у кнопок. Управлять ими будем сами, так как оформление свое */
}

label {
	font-family: "Noto Sans", sans-serif;
	font-size: 10pt;
}

.aBtn {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
	color: #000; /* Цвет текста */
    background: rgb(221,221,221); /* Градиент */
	width: 160px;
	cursor: pointer;
	text-align: center;
	-webkit-user-select: none;	
	-moz-user-select: none;	
	user-select: none;	
}
  
.aBtn:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
   }

.toolBtn {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
	padding: 5px; /* Поля */
	margin: 2px; /* границы */
    text-decoration: none; /* Убираем подчёркивание */
	color: #000; /* Цвет текста */
    background: rgb(221,221,221); /* Градиент */
	width: 24px;
	height: 24px;
	cursor: pointer;
	text-align: center;
	-webkit-user-select: none;	
	-moz-user-select: none;	
	user-select: none;	
}
 
text {
	cursor: default;
}	

/*
text:hover {
	cursor: default;
}	
*/
.toolBtn:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
   }
   
  
.holst {
	display: inline-block;
}

.info-label {
	/*display: inline-block;*/
	height: 18px;
	font-size: 10pt;
}

.info-panel {
	/*display: inline-block;*/
	height: 54px;
	font-size: 10pt;
}

/* SVG не прокручивается */
div.holst {
	/* background: lightblue;	*/
    /*overflow: scroll; /* Добавляем полосы прокрутки */
	/*width:85%;*/
	/*height:50%;*/
    border: solid 1px lightgray; 
	/*padding: 5px;*/
	/*padding-right: 16px;*/
	/*margin: 5px;*/
}


.main-window {
	/* Размер шрифта 0 чтобы небыло отсупов между inline блоками*/
	font-size: 0px;
}

a  {
	font-size: 10pt;
}


.debug-info {
	width:100%;
	/*height: 100px;*/
	/*position: fixed;*/
	top: 0px;
	/*left: 300px;*/
}
   
.menu {
    background: #f6fbff;
    border: solid 1px;
	display: inline-block;
	vertical-align: top;
	/*min-width: 170px;*/
	width: 86px;
}
   
.menu-line {
	margin-top: 2px;
	margin-left: 2px;
}

.currentbtn {
   background-color: #dbeaf7
}


/* поле редактирования текст внутри фигуры*/
div.input-field {
	font-size: 12px;
	font-family: "Noto Sans", sans-serif;
	/* Вычисляются js скриптом
	width:100%;
	height:100%;*/
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	display: inline-block;
}

svg.ruler text {
	font-size: 10pt;
	font-family: "Arial";
	-webkit-user-select: none;	
	-moz-user-select: none;	
	user-select: none;	
}
	
	
#Holst {
	border: 1px dashed  lightgray;
	margin-left: 4px;
}