@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
	font-family: "Noto Sans", sans-serif;
}

input {
	font-family: "Noto Sans", sans-serif;
}

.border { 
    background: #70809014;
    border: solid 1px ; 
}
  
.holst {
	display: inline-block;
}

.debug-info {
	width:100%;
	height: 50px;
	position: fixed;
	top: 0px;
	left: 300px;
}
   
.menu {
    background: #70809014;
    border: solid 1px;
	display: inline-block;
	vertical-align: top;
}
   
.menu-button {
	width:120;
	height:40;
	margin-top: 5;
	margin-bottom: 5;
	margin-left: 5;
	margin-right: 5;
}

.currentbtn {
   background-color: #dbeaf7
}

text {
	cursor: default;
	font-size: 10pt;
	font-family: "Noto Sans", sans-serif;
}

textarea.input-field {
	font-size: 10pt;
	font-family: "Noto Sans", sans-serif;
	width:100%;
	height:100%;
}
