@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@font-face {
    font-family: MyMomospace; /* Гарнитура шрифта */
    /*src: url(fonts/pompadur.eot); /* Для IE5-8 */
    src: local(InconsolataCyr), url(../fonts/InconsolataCyr.ttf); /* Для остальных браузеров */
}

body {
	font-family: "Noto Sans", sans-serif;
	font-size: 10pt;
}

input {
	font-family: "Noto Sans", sans-serif;
	font-size: 10pt;
    padding: 0px; /* Скинем поля у кнопок. Управлять ими будем сами, так как оформление свое */
}

label {
	font-family: "Noto Sans", sans-serif;
	font-size: 10pt;
}

.aBtn {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
	color: #000; /* Цвет текста */
    background: rgb(221,221,221); /* Градиент */
	width: 160px;
	cursor: pointer;
	text-align: center;
	-webkit-user-select: none;	
	-moz-user-select: none;	
	user-select: none;	
}
  
.aBtn:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
   }

.toolBtn {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
	color: #000; /* Цвет текста */
    background: rgb(221,221,221); /* Градиент */
	width: 24px;
	height: 24px;
	cursor: pointer;
	text-align: center;
	-webkit-user-select: none;	
	-moz-user-select: none;	
	user-select: none;	
}
   

.toolBtn:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
   }
   
.border { 
    /* background: #70809014; */
    border: dashed 1px ; 
}
  
.holst {
	display: inline-block;
}

.info-label {
	display: inline-block;
}

div.holst {
	/* background: lightblue;	*/
    overflow: scroll; /* Добавляем полосы прокрутки */
	width:85%;
	height:85%;
    border: solid 1px lightgray; 
	padding: 5px;
	padding-right: 16px;
	/*margin: 5px;*/
}

div.main-window {
	/* width:100%;
	 height:100%;
	 border: solid 1px red; 
	*/
}

.debug-info {
	width:100%;
	height: 50px;
	/*position: fixed;*/
	top: 0px;
	/*left: 300px;*/
}
   
.menu {
    background: #70809014;
    border: solid 1px;
	display: inline-block;
	vertical-align: top;
	min-width: 170px;
}
   
.menu-button {
	margin-top: 5;
	margin-bottom: 5;
	margin-left: 5;
	margin-right: 5;
}

.currentbtn {
   background-color: #dbeaf7
}

/*
text {
	cursor: default;
	font-size: 10pt;
	font-family: "Noto Sans", sans-serif;
}*/

textarea.input-field {
	font-size: 10pt;
	font-family: "Noto Sans", sans-serif;
	width:100%;
	height:100%;
}

svg.ruler text {
	font-size: 10pt;
	font-family: "Arial";
	-webkit-user-select: none;	
	-moz-user-select: none;	
	user-select: none;	
}
	
	
#Holst {
	border: 1px dashed  lightgray;
}